.map {
  display: inline-block;
  position: relative;
}
.map > svg {
  box-shadow: 3px 2px 8px #BBB;
  width: 400px;
  height: auto;
}
.map > span {
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
}
